$source_font: 'Source Sans Pro', sans-serif;
$oswald_font: 'Oswald', sans-serif;

$white_color: #fff;
$black_color: #000;
$blue_color: #55C2D8;
$gray_color:  rgba(255, 255, 255, 0.7); 
$darkgray_color: #464547;
$white_bright:rgba(255, 255, 255, 0.4);
$shadow_color: #666666;



