@media screen and (max-width:768px) {
    footer {
         .nav_footer {
              flex-direction: column;
              align-items: center;
    
              &_left {
                   flex-direction: column;
                   align-items: center;
    
                   &_logo {
                        margin-bottom: 20px;
                   }
    
                   &_address li {
                       text-align: center;
                   }
              }
    
              &_right {
                   margin-top: 20px;
                   text-align: center;
              }
         }
    }
    }