@media screen and (max-width:768px) {
    .toggle {
         z-index: 2;
         width: calc(0.7vw + 22.3px);
         height: calc(0.7vw + 13.3px);
         display: flex;
         align-items: center;
         justify-content: space-between;
         flex-direction: column;
         cursor: pointer;

         .line {
              background-color: $white_color;
              width: 100%;  
              height: 3px;
              border-radius: 5px;        
         }

         
    }

    .nav {
        input[type=checkbox]:checked ~ .nav_bar .nav__menu  {
            display: block;
           }

        //    input[type=checkbox]:checked ~ .toggle .bar:first-child {
        //         width: 10px;
        //         transform: rotate(-40deg);
        //         transition: .3s;
        //    }

        //    input[type=checkbox]:checked ~ .toggle .bar:last-child {
        //         width: 10px;
        //         transform: rotate(40deg);
        //         transition: .3s;
        //    }
         &_bar {
             
         

         .nav__menu {
         display: none;
         position: absolute;
         right: 0px;
         top: 0;
         bottom: 0;
         background-color: rgba(0, 0, 0, .5);
         backdrop-filter: blur(10px);
         height: 100vh;
         padding: 12vh 0;
         transition: .3s ease-out;
         z-index: 1;

         li {
         text-align: left;
         display: flex;
         justify-content: stretch;

         a {
              line-height: 40px;
              text-align: left;
              margin: 0;
              width: 100%;
              padding: 10px 100px 10px 20px;
         }
    }
    }
}
    }
}