header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%; 
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;

    input[type=checkbox] {
        display: none;
   }

    &__heading{
        font-family: $source_font;
        font-weight: 600;
        font-size: 20px;
        line-height: 16px;
        color: $white_color;
        text-transform: uppercase;
        cursor: pointer;
    }
        .toggle {
            order: 3;
        }
}

.nav_bar {
    display: flex;
    align-items: center;
    order: 2;
   

    .nav__menu {
        display: flex;
        align-items: center;


        #current {
            color: $white_color;
        &::after {
            content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3px;
                width: 100%;
                background-color: $white_color;
                transition: .3s;
        }
        }

        a {
            font-family: $source_font;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            text-transform: uppercase;
            color: $white_color;
            letter-spacing: .2em;
            padding: 6px 0px;
            margin: 0px 32px;
            cursor: pointer;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                height: 3px;
                width: 0%;
                background-color: $white_color;
                transition: .3s;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

}