.section_1 {
    background-image: url(../assets/Desktop_Backgrounds_1920x1200_6\ 3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .menu_page {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         height: 100vh;
         animation: mainpage_1 1s;

         &_logo img {
            width: calc(1.1vw + 50.7px);
            animation-name: logo;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
         }

         @keyframes logo {
              0% {
                   transform: rotate(0) scale(1); 
              }
              50% {
                   transform: rotate(180deg) scale(1.2);
              }
              100% {
                   transform: rotate(360deg) scale(1);
              }
         }

         .h1 {
              @include h1($white_color);
         }

         .h3 {
              @include h3($gray_color);
         }
    }

    @keyframes mainpage_1 {
         from {
              transform: scale(0.1) translateY(50px);
         }

         to {
              transform: scale(1) translateY(0);
         }
    }
}