.mainpage_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px 0px;

    .h1 {
         @include h1($darkgray_color);
    }

    .h3 {
         @include h3($shadow_color);
    }

    &_texts {
         display: flex;
         align-items: flex-start;
         justify-content: space-evenly;
         padding: 45px 0px;

         .p {
              @include text;
              width: 35%;
         }
    }

    .btn {
       @include btn;
       transition: .3s;
       text-decoration: none;

       &:hover {
         transform: rotateZ(10deg) translateY(0);
         transform-origin: 10% 20%;
       }

       &:active {
         transform: scale(.9);
       }
    }
}