@media screen and (max-width:768px) {
    .mainpage_2 {
         &_texts {
              flex-direction: column;
              padding: 25px 0px;

              .p {
                   width: 100%;
                   padding: 20px 0px;
              }
         }

         .h1 {
              line-height: 50px;
         }

         .h3 {
              padding-top: 25px;
         }
    }
}