@media screen and (max-width:768px) {
    .section_video_3 {
         .mainpage_3 {
              padding: 60px 0px;
              .play {
                   margin: 20px 0px;
              }
    
              .h1 {
                   padding: 20px;
              }
    
              .h3 {
                   padding: 20px;
              }
         }
    }
    }